
/* /////////////////////////// FONTS /////////////////////////// */
@font-face {
  font-family: 'dopestbymarsnev';
  src: url('../font/dopestbymarsnev.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Thunder Lord';
  src: url('../font/Thunder Lord.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GOTHIC';
  src: url("../font/GOTHIC.TTF"); }


/* ///////////////////////////////// ASTUCE //////////////////////////////// */

.divCenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
}

.displayNone {
  display: none !important;
}
 
.displayIB {
  display: inline-block;
}

/* /////////////////////////// STRUCTURE DE BASE /////////////////////////// */

body {
  color: white;
}

#header {
  color:white;
  background-color: white; 
  /* vis a vis de hauteur du logo */
}

#BarSpectre1 {
  width:550px; 
  height:50px;
  margin-right: 0.2em;
} 

#BarSpectre2 {
  width:550px; 
  height:50px;
  margin-left: 0.2em;
}

.BarSpectreA, .BarSpectreB {
  display:inline-block;
}


#logo {
  width: 200px;
  height: 50px;
  padding-top: 0.2em;
  text-align: left;
  background-color: white;
}

#logo2 {
  width: 200px;
  height: 50px;
  display: inline-table;
  text-align: left;
  background-color: white;
  padding-top: 0.2em; 
  background-size: 98%;
  background-position: 10% 0%;
  background-repeat: no-repeat;
}

.AnimHead {
  display: inline-table;
  width: 36px; 
  height: 50px;
  background-color: white;
}

.AnimHead1{
  -webkit-animation: blink 4s infinite;
  -moz-animation:    blink 2s infinite;
  -ms-animation:     blink 1s infinite;
  display: inline-table;
  width: 36px; 
  height: 50px;
}
 
@-webkit-keyframes blink {
        50%  { background:red;    }
        50%  { background:blue;   }
        100% { background:red;    }
        40%  { background:yellow; }
        60%  { background:orange; }
        80%  { background:purple; }
        50%  { background:black;  }
        70%  { background:pink;   }
}
@-moz-keyframes blink {
        50%  { background:red;    }
        50%  { background:blue;   }
        100% { background:red;    }
        40%  { background:yellow; }
        60%  { background:orange; }
        80%  { background:purple; }
        50%  { background:black;  }
        70%  { background:pink;   }
}
@-ms-keyframes blink {
        50%  { background:red;    }
        50%  { background:blue;   }
        100% { background:red;    }
        40%  { background:yellow; }
        60%  { background:orange; }
        80%  { background:purple; }
        50%  { background:black;  }
        70%  { background:pink;   }
}


#footer {
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
  font-family: 'GOTHIC';
  font-size: 10px;
  padding-top: 1.5em;
  height: 50px;   
}

#bcqd {
  background-color: #2B2B2B;
  padding-bottom: 2em;
  text-align: center;
  min-width: 1500px;
}

#mainBackground {
  font-family: "Thunder Lord";
  background-color: #2B2B2B;
  min-width: 1500px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.divPlayer {
  width: 530px;
  height: 420px;
  border: 1.5px solid #1e6662; 
  background-color: #2B2B2B;
  border-radius: 2px;
  margin: 0.2em;
  padding: 7px;
  display: inline-block;
}

.divPlayerMd {
  width: 260px;
  vertical-align: top;
  height: 420px;
  border: 1.5px solid #1e6662; 
  background-color: #212121;
  border-radius: 2px;
  margin: 0.2em;
  padding: 7px;
  display: inline-block;
}

.divPlayerMdPy {
  width:260px;
  padding: 7px;
  border: 1.5px solid #1e6662; 
  height: 240px;
  border-radius: 2px;  
  background-color: #212121;
  text-align:center;
  margin-right: auto;
  margin-left: auto;
}

.divPlayerPy {
  width: 530px;
  height: 300px;
  border: 1.5px solid #1e6662; 
  background-color: #2a818c;
  border-radius: 2px;  
  margin: 0.2em;
  padding: 7px;
  display: inline-block;
}

.DivmaddleBttPy {
  margin:0.2em;
  height:300px;
  vertical-align: top;
  display: inline-block;
}

.divFun {
  border-radius: 2px; 
  border: 1.5px solid #1e6662;
  background-color:#0a0a0a;
  height:40px;
  width:260px; 
  padding:7px;
  margin-top:0.2em;
}


.divPlayerMpart1 {
  font-family: "Thunder Lord";
  margin: 0.2em;
  display: inline-table;
  width: 110px;
}

.divPlayerPlay {
  text-align: left;
}

/* ////////////////////// INPUT FILE UPLOAD /////////////////////// */
div.upload {
  width: 157px;
  height: 57px;
  background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
  overflow: hidden;
}

div.upload input {
  display: inline-block;
  width: 157px !important;
  height: 57px !important;
  opacity: 0 !important;
  overflow: hidden !important;
}

.topDivpl {
  height: 60px;
  background-color: #3797a3;
  margin-bottom: 0.2em;
}

.topDivpl2 {
 background-color: #090c10;
}

.formInput {
  display: table-cell;
  width: 50%;
}

#currentSong, #currentSong2 {
  padding-right: 0.3em;
}

#spectre1, #spectre2 {
  height: 50px;
  width: 400px;
}


.ggg {
  display: table-cell;
  text-align: right;
  vertical-align: top;
  padding-top: 0.8em;
  padding-right: 0.2em;
}

#playList, #playList2{
   padding: 1em;
}


#progressTime, #progressTime2, #playList2, #playList, #currentSong2, #currentSong  {  
  font-family: "GOTHIC";
  font-size: 15px;
}

#progressTime {
  display: inline-block;
  background-color: black;
  color: #1e6662;
  border: solid 1px #1e6662;
  width: 70px;
  font-size: 19px;
  padding: 0.5em;
  margin-right: 1.2em;
  margin-top: 0.3em;
  margin-left: 0.5em;
}

#progressTime2 {
  display: inline-block;
  background-color: black;
  color: #1e6662;
  border: solid 1px #1e6662;
  width: 70px;
  font-size: 19px;
  padding: 0.5em;
  margin-left: 1.2em;
  margin-top: 0.3em;
  margin-right: 0.5em;
}


.DvspectreA {
  vertical-align: top;
  display: inline-block;
}

/* //////////////// PROGRESS BAR //////////////// */
progress {
  width: 300px;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  padding: 3px;
  border: 0 none;
  background: #444;
  border-radius: 6px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
progress::-moz-progress-bar {
  border-radius: 5px;
  background: #FFF;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
  
}
/* webkit */
progress {
    height: 3px;
}
 
progress::-webkit-progress-bar {
    background: transparent;
}  
progress::-webkit-progress-value {  
  border-radius: 6px;
  height: 5px;
  background: #FFF;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
} 

.ggg2 {
}

.Divgg2 { 
  display:inline-block;
  margin-right:0.8em; 
}

.ggg21Div {
  display:inline-block;
  width:450px;
  margin-left:1.5em; 
}

.VertTopcss {
  vertical-align: top;
}

.VertBottomcss {
  vertical-align: bottom;
}

.middlePlat1 {
  width: 175px;
  display: inline-block;
 
}

.middlePlat2 {
  width: 200px;
  margin-left: 3em;
  text-align: center;
  display: inline-block;
}

.middlePlat3 {
  width: 200px;
  margin-right: 3em;
  text-align: center;
  display: inline-block;
}

.middlePlat4 {
  width: 180px;
  padding-left: 2em;
  text-align: right; 
  text-align: center;
  display: inline-block;
  vertical-align: center;
}

.BgdPlatine1, .BgdPlatine2 {
  width: 210px;
  height: 210px;
  z-index: 1000;
  position: absolute;
}
 

#platine1 {
  width: 210px;
  z-index: 10;
  position: relative;
}

#platine2 {
  width: 210px;
  z-index: 10;
  position: relative;
}


.play{
  background-image: url("../images/Bplay.png");
  background-repeat: no-repeat; 
}
.play:hover{
  background-image: url("../images/BplayH.png");
  background-repeat: no-repeat; 
}
  
.pause{
  background-image: url("../images/Bpause.png");
  background-repeat: no-repeat;
}

.stop{
  background-image: url("../images/Bstop.png");
  background-repeat: no-repeat;
}
.stop:hover{
  background-image: url("../images/BstopH.png");
  background-repeat: no-repeat;
}

.previous{
  background-image: url("../images/Bprevious.png");
  background-repeat: no-repeat;
}
.previous:hover{
  background-image: url("../images/BpreviousH.png");
  background-repeat: no-repeat;
}

.next{
  background-image: url("../images/Bnext.png");
  background-repeat: no-repeat;
}
.next:hover{
  background-image: url("../images/BnextH.png");
  background-repeat: no-repeat;
}
.bass{
  background-image: url("../images/Bass.png");
  background-repeat: no-repeat;
}
.bass:hover{
  background-image: url("../images/BassH.png");
  background-repeat: no-repeat;
}

.control1, .control2, .control2_1, .control2_2 {
  border: none;
  background-repeat: no-repeat;
  background-color: #151517; 
  outline:none;
  text-align: center;
  cursor: pointer;
}

.control1, .control2_1 {
  height: 90px; 
  width: 100px;
  background-size: 100% 70%;
  background-position: center;
  vertical-align: middle;
}

.control2, .control2_2 {
  height:55px; 
  width: 55px;
  background-size: 80% 60%;
  background-position: center;
  vertical-align: middle;
}

.btnPayer {
  border: 1px solid #3797a3;
  background-color: #151517; 
}  

.divWhiteE {
  background-color: #2B2B2B;
  height: 120px;
}

.twoVols {
  height: 180px;
}

.divCrossF {
  height: 38px;
  margin: 0.2em;
}

#equaliser {
  padding-left: 3em;
}


/* ////////////////// LIMIT CHARACTERS ///////////////////// */
span.read-more { 
}

span.more { 
  display: none;  
}

/* ////////////////////////////  PLAYLIST BOTTOM CSS ////////////// */
.hoverClickplay {
  text-align: left;
  color: #2fc7c9;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  background-color: inherit;
  background-image: url("../images/iconPlay.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 5% 85%;  
  font-size: 12px;
}

.hoverClickpause {
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  text-align: left;
  color: white;
  font-size: 11px;
  font-weight: 0;
}

/* /////////////////  SYNCH BUTTON CSS ////////////////// */
.sync-button {
    position: relative;
    vertical-align: top;
    width: 70px;
    height: 35px;
    margin-left: 0.3em;
    font-size: 13px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #e74c3c;
    border: 0;
    border-bottom: 2px solid #b93225;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #b93225;
    box-shadow: inset 0 -2px #b93225;
    border-radius: 5px;
}

.sync-button:hover {
    background: #3797a3;
    border-bottom: 2px solid #22727c;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #22727c;
    box-shadow: inset 0 -2px #22727c;
}

.sync-button:active {
  top: 2.5px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.funny-button {
    position: relative;
    vertical-align: top;
    width: 40px;
    vertical-align: bottom;
    height: 40px;
    padding: 0;
    font-size: 25px;
    text-align: center;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
    border: 0;
    cursor: pointer;
    border-radius: 5px;    
}

.funny-button:hover {
    background: #e74c3c;
    border-bottom: 2px solid #b93225;
    -webkit-box-shadow: inset 0 -2px #b93225;
    box-shadow: inset 0 -2px #b93225;
}


.funny-button:active {
  top: 2.5px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.funny1-button {
    color: white;
    background: #3797a3;
    border-bottom: 2px solid #22727c;
    -webkit-box-shadow: inset 0 -3px #22727c;
    box-shadow: inset 0 -3px #22727c;
} 

.funny2-button {
    color: white;
    background: #f665ff;
    border-bottom: 2px solid #c04a92;
    -webkit-box-shadow: inset 0 -3px #c04a92;
    box-shadow: inset 0 -3px #c04a92;
    margin-left: 0.8em;
} 

.funny3-button {
    color: white;
    background: #3ab837;
    border-bottom: 2px solid #20851d;
    -webkit-box-shadow: inset 0 -3px #20851d;
    box-shadow: inset 0 -3px #20851d;
    margin-left: 0.8em;
}

.funny4-button {
    color: white;
    background: #d9d71c;
    border-bottom: 2px solid #b59606;
    -webkit-box-shadow: inset 0 -3px #b59606;
    box-shadow: inset 0 -3px #b59606;
    margin-left: 0.8em;
} 

 
 /* ////////////////// DIV PLAYLIST ///////////////////// */
table tr:nth-child(2n+2){
  background-color: black;
}

.dtextPlaylist {
  font-family: "Thunder Lord";
  background-color: white;
  color: #1a1a1a;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.blocTexPlaylt {
  margin-top: 0.6em;
  font-family: "Arial";
  border: 1.5px solid white;
  background-color: #272727;
  height: 260px;
}

.textdivBlcplylt {
  color: white;
  font-size: 11px;
}

.thTabPlaylist {
  border: 1.5px solid gray;
  padding: 0.5em;
  margin: 1em;
  height: 8px;
  text-align: center;
  font-size: 11px;
}

.importantTabtt {
  background-color: #272727 !important;
}

.impportantCssTdtt {
  color: #272727;
  font-size:8px;
}

.sizeDebTr {
  width: 350px;
}

.sizeDebtrTD {
  width: 50px;
}

.paddSpanSongplaylt {
  padding-left: 5px;
}

/* ///////// CSS EQUALIZER //////// */
.bardnone {
  height: 260px;
  width: 47px;
  margin: 0 auto;
  background-color: #090c10;
}